<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('회원가입')}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

<form action="../board/write" method="post" th:object="${memberDto}" class="max-w-2xl mx-auto mt-10 space-y-4">

    <!-- 제목 -->
    <h1 class="text-3xl mb-">회원가입</h1>
    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold">user id</span>
        </label>
        <input type="text" th:field="*{userID}" placeholder="아이디를 입력하세요."
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userID')}"
             th:errors="*{userID}"
             class="text-error text-sm mt-1"></div>
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold">비밀번호</span>
        </label>
        <input type="password" th:field="*{userPW}" placeholder="비밀번호 입력"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userPW')}"
             th:errors="*{userPW}"
             class="text-error text-sm mt-1"></div>
    </div>
    <!-- 글쓴이 -->
    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold">user name</span>
        </label>
        <input type="text" th:field="*{userName}" placeholder="이름"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userName')}"
             th:errors="*{userName}"
             class="text-error text-sm mt-1"></div>
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text font-bold">user email</span>
        </label>
        <input type="text" th:field="*{userEmail}" placeholder="이메일"
               class="input input-bordered w-full"/>
        <div th:if="${#fields.hasErrors('userEmail')}"
             th:errors="*{userEmail}"
             class="text-error text-sm mt-1"></div>
    </div>

    <!-- 내용 -->


    <!-- 비밀번호 -->


    <!-- 버튼 -->
    <div class="form-control mt-6">
        <button class="btn btn-primary w-full">글쓰기</button>
    </div>

</form>

<div th:replace="~{fragments/footer::footer-sns}"></div>
</body>
</html>