<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color:#f00;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>add</h1>
<form action="../member/add" method="post" th:object="${memberDto}">
    <div><input type="text" th:field="*{userID}"></div>
    <div th:if="${#fields.hasErrors('userID')}" class="error" th:errors="*{userID}">에러메세지를 직접 입력합니다.</div>
    <div><input type="password" th:field="*{userPW}"></div>
    <div th:if="${#fields.hasErrors('userPW')}" th:errors="*{userPW}"  class="error"></div>
    <div><input type="text" th:field="*{userName}"></div>
    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
    <div><input type="text" th:field="*{userEmail}"  class="error"></div>
    <div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"  class="error"></div>
    <div>
        <button>확인</button>
    </div>
</form>
</body>
</html>