<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="navbar bg-base-100 shadow-sm" th:fragment="header">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <h1>JJANG051</h1>
            </div>
        </div>
        <a class="btn btn-ghost text-xl">daisyUI</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul tabindex="-1"
            class="menu menu-horizontal px-1">
            <li><a th:href="@{/templates/fragments/login}">회원가입</a></li>
            <li><a href="" th:href="@{/templates/fragments/login}">로그인</a></li>
            <li><a href="" th:href="@{/board/list}">게시판</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <a class="btn">Button</a>
    </div>
</header>
</html>