<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('글보기')}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<div class="card w-full max-w-2xl shadow-2xl bg-base-100 mx-auto mt-10">
    <div class="card-body">
        <h1 class="card-title text-2xl mb-4">게시글 상세</h1>

        <!-- 제목 -->
        <div class="form-control mb-2">
            <label class="label font-bold">제목</label>
            <span class="px-3 py-2 rounded bg-base-200" th:text="${boardDto.title}"></span>
        </div>

        <!-- 글쓴이 -->
        <div class="form-control mb-2">
            <label class="label font-bold">글쓴이</label>
            <span class="px-3 py-2 rounded bg-base-200" th:text="${boardDto.writer}"></span>
        </div>

        <!-- 내용 -->
        <div class="form-control mb-2">
            <label class="label font-bold">내용</label>
            <span class="px-3 py-2 rounded bg-base-200 whitespace-pre-line" th:text="${boardDto.content}"></span>
        </div>

        <!-- 조회수 -->
        <div class="form-control mb-2">
            <label class="label font-bold">조회수</label>
            <span class="px-3 py-2 rounded bg-base-200" th:text="${boardDto.hit}"></span>
        </div>

        <!-- 날짜 -->
        <div class="form-control mb-4">
            <label class="label font-bold">날짜</label>
            <span class="px-3 py-2 rounded bg-base-200" th:text="${boardDto.regdate}"></span>
        </div>

        <!-- 비밀번호 입력 + 삭제 버튼 -->
        <div class="form-control">
            <label class="label font-bold">삭제 비밀번호</label>
            <div class="flex gap-2">
                <input type="password" name="password" id="password" placeholder="password"
                       class="input input-bordered w-full"/>
                <button id="btn-delete" class="btn btn-error">삭제</button>
            </div>
        </div>
        <div>
            <div><a href="">이전 글 : 이전 글 제목</a></div>
            <div><a href="">다음 글 : 다음 글 제목</a></div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer::footer-sns}"></div>
<script th:inline="javascript">
    const btnDelete = document.querySelector("#btn-delete");
    const password = document.querySelector("#password");
    //타임리프 변수 설정
    const idx = /*[[${boardDto.id}]]*/ 0;
    console.log(idx);
    btnDelete.addEventListener("click", async () => {

        const sendPassword = password.value;
        const res = await fetch("/board/delete", {
            headers: {
                "Content-Type": "application/json"
            },
            method: "post",
            body: JSON.stringify({password: sendPassword, id: idx})
        })
        const data = await res.json();
        if (data.success) {
            location.href = "/board/list";
        } else {
            alert("비밀번호를 확인해주세요");
        }
    })
</script>
</body>
</html>