<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('리스트')}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

    <ul>
        <li th:each="item:${boardList}">
            <a href="" th:href="@{../board/{id}/detail(id=${item.id})}">
                <span th:text="${item.id}"></span>
                <span th:text="${item.title}"></span>
                <span th:text="${item.writer}"></span>
                <span th:text="${item.regdate}"></span>
                <span th:text="${item.hit}"></span>
            </a>
        </li>
    </ul>
</body>
</html>